<!DOCTYPE html>
<html>
	<head>
		<title>WetBit Monitor</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<script src="/assets/js/arc.js"></script>
		<script src="/assets/js/charts.js"></script>
	</head>
	<body>
		<h1>WetBit Monitor</h1>
		<div id="index" class="frame">
			<h2>Select a Microbit to View Data</h2>
			<ul></ul>
		</div>
		<div id="node" class="frame">
			<h2>title</h2>
			<ul class="twocol"></ul>
		</div>
		<script src="/assets/js/script.js"></script>
	</body>
</html>
